@model CompareLigandsModel
@{
    int jobId = Model.Job.Id;
    string ligandId = Model.Result.LigandId.StringifyId();
    string cavityId = Model.Result.CavityId.StringifyId();
    string ligandName = Model.Job.JobLigands.FirstOrDefault(o => o.LigandId == Model.Result.LigandId).LigandName;

    if (Context.IsAjaxRequest())
    {
        Layout = null;
    }

    ViewData["Title"] = $"On Target {Model.Result.Cavity.ProteinId}";
}

<h2 id="ligandHeader" class="@(Context.IsAjaxRequest() ? "collapse" : "")">
    @ViewData["Title"]
    <small class="text-muted">@Model.Result.MostSimilarActiveCompound.Similarity/@Model.Result.MostSimilarActiveCompound.Id</small>
</h2>

<div class="alert alert-info">
    For the given ligand <b>@ligandName</b>, we have found in our database that, being scored <b>@Model.Result.MostSimilarActiveCompound.Similarity</b>, the most similar ligand is <b>@Model.Result.MostSimilarActiveCompound.Id</b>. Check out the elaboration below.
</div>

<table class="table table-fixed comparison">
    <thead>
        <tr>
            <th scope="col">@ligandName (Given Ligand)</th>
            <th scope="col"><a target="_blank" href="@Model.Result.MostSimilarActiveCompound.Url">@Model.Result.MostSimilarActiveCompound.Id (Similar Ligand) <i class="fas fa-external-link-alt"></i></a></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td title="SMILES for @ligandName" class="code">@Model.Result.Ligand.Smiles</td>
            <td title="SMILES for @Model.Result.MostSimilarActiveCompound.Id" class="code">@Model.Result.MostSimilarActiveCompound.Smiles</td>
        </tr>
        <tr>
            <td title="2D depiction for @ligandName">
                <img src="@Url.Action("Depiction", "Ligand", new { ligandId = ligandId, type = "2d" })" class="img-fluid mx-auto d-block" alt="2d depiction of @Model.Job.Name" />
            </td>
            <td title="2D depiction for @Model.Result.MostSimilarActiveCompound.Id">
                <img src="@Url.Action("Depiction", "Ligand", new { ligandId = Model.Result.MostSimilarActiveCompound.Smiles.ComputeHashInt64().StringifyId(), type = "2d" })" class="img-fluid mx-auto d-block" alt="2d depiction of @Model.Result.MostSimilarActiveCompound.Id" />
            </td>
        </tr>
        <tr>
            <td title="3D depiction for @ligandName">
                <img src="@Url.Action("Depiction", "Ligand", new { ligandId = ligandId, type = "3d" })" class="img-fluid mx-auto d-block" alt="3d depiction of @Model.Job.Name" />
            </td>
            <td title="3D depiction for @Model.Result.MostSimilarActiveCompound.Id">
                <img src="@Url.Action("Depiction", "Ligand", new { ligandId = Model.Result.MostSimilarActiveCompound.Smiles.ComputeHashInt64().StringifyId(), type = "3d" })" class="img-fluid mx-auto d-block" alt="3d depiction of @Model.Result.MostSimilarActiveCompound.Id" />
            </td>
        </tr>
        <tr>
            <td title="FP2 fingerprint for @ligandName" class="code fp">@Model.Result.Ligand.FingerprintFP2.ToHexString(4, 32)</td>
            <td title="FP2 fingerprint for @Model.Result.MostSimilarActiveCompound.Id" class="code fp">@Model.Result.MostSimilarActiveCompound.Fingerprint.ToHexString(4, 32)</td>
        </tr>
    </tbody>
</table>

@section Menu {
    @{
        ViewData["ActiveMenu"] = "docking";
        ViewData["JobNavDomainId"] = Model.DomainId;
        ViewData["JobNavJobId"] = Model.Job.Id;
        ViewData["JobNavActive"] = "output";
    }
    <partial name="_RaWorkspaceMenu" />
    <partial name="_RaJobContextMenu" />
    <li class="nav-item nav-item-with-separator active">
        <a class="nav-link"
           asp-controller="Job"
           asp-action="Compare"
           asp-route-domainId="@Model.DomainId"
           asp-route-jobId="@jobId"
           asp-route-cavityId="@cavityId"
           asp-route-ligandId="@ligandId">
            Similarity
        </a>
    </li>
}