@model GuestbookPost
@{
    ViewData["Title"] = "New Post";
    var isModal = Context.Request.Headers["X-Requested-With"] == "XMLHttpRequest";
    string domainId = ViewContext.RouteData.Values["domainId"].ToString();

    if (isModal)
    {
        Layout = null;
    }
}

<h2>NewPost</h2>

@Html.EditorForModel()

@section Menu {
    <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Index" asp-route-domainId="@domainId">Home</a></li>
    <li class="nav-item"><a class="nav-link" asp-controller="Job" asp-action="List" asp-route-domainId="@domainId">All Tasks</a></li>
    @*<li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Guestbook" asp-route-domainId="@domainId">Guestbook</a></li>*@
    @*<li class="nav-item active bg-danger"><a class="nav-link" asp-controller="Home" asp-action="NewPost" asp-route-domainId="@domainId">New Post</a></li>*@
}

@section Scripts {
}